@import "@styles/settings/__settings";

.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;
}

.camera {

  width: 500px;
  margin: 0 auto 2em;

  @media (max-width: 720px) {
    width: 100%;
  }

}

.stageContainer {
  position: relative;
  aspect-ratio: 720 / 720;
  background-color: black;
}

.stage {

  margin: auto;

  video,
  img {
    display: block;
    width: 100%;
    height: auto;
  }

}

.controls {

  margin-top: 1em;

  ul {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 560px) {
      flex-direction: column;
    }

  }

  li {

    margin: 0 .5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 560px) {

      width: 100%;
      margin: .5em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

  }

  button {
    width: 100%;
  }

}

.effects {

}

.filters {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  list-style: none;
  padding: 0;
  margin: 0;
}

.filterThumb {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  padding: 0.5em;
  border-radius: 0.2em;
  border: solid 2px $color-light-gray;
  cursor: pointer;

  &:hover {
    border: solid 2px $color-purple;
  }

  [data-is-active-filter="true"] & {
    border: solid 2px $color-purple;
    box-shadow: 0 2px 15px rgba($color-purple, .5);
  }

  span,
  img {
    display: block;
  }

  img {
    margin-bottom: .5em;
  }

}